body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.section-header {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #006D5C;
}

.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}