.header {
    background-color: #008D7C;
    margin-bottom: 60px;
}

.header-logo {
    position: relative;
    top: -3px;
    height: 90px;
}

.header .container {
    display: flex;
    min-height: 0;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-nav li {
    padding: 25px;
}

.header-nav li:hover {
    background-color: #00b9a4;
}

.header-nav li:active > a{
    color: rgba(255, 255, 255, 0.6);
}

.header-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 40px;
}

.header-nav li {
    position: relative;
}

.header-nav .genres {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    box-sizing: border-box;
    padding: 20px 25px;
    min-width: 250px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    z-index: 100;
}

.header-nav li:hover .genres {
    display: block;
}

.header-nav .genres h3 {
    color: black;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}

.header .genres-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header .genres-list li {
    margin: 0;
    padding: 5px 10px;
}

.header .genres-list li:hover {
    background-color: rgba(0,0,0,0.1);
}

.header .genres-list li:active a {
    color:rgba(0, 0, 0, 0.7);
}

.header .genres-list a {
    color: black;
    font-size: 20px;
    line-height: 26px;
}

.search-container {
    position: relative;
}

.search {
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 15px;
    width: 220px;
    height: 40px;
    background-color: rgba(196, 196, 196, 0.3);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.search::before {
    background: url('/public/img/search.png') no-repeat 18px 18px;

}

.search:focus {
    outline: none;
}

.search-container img {
    position: absolute;
    left: 12px;
    top: 11px;
}

.sign-in-btn {
    padding: 25px;
    border: none;
    background-color: #008D7C;
    color: white;
    font-size: 24px;
    line-height: 40px;
}

.sign-in-btn:hover {
    background-color: #00b9a4;
}

.sign-in-btn:active {
    color: rgba(255, 255, 255, 0.6);
}

.hidden {
    display: none;
}

.sign-in-popup {
    position: absolute;
}

.sign-in-popup .dark-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
}

.sign-in-popup form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: calc(50vh - 250px);
    left: 35%;
    z-index: 201;
    width: 30%;
    height: 500px;
    padding: 50px 70px;
    background-color: #008D7C;
    border-radius: 50px;
}

.sign-in-popup form .close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 40px;
    background: none;
    border: none;
    outline: none;
}

.sign-in-popup form .close-btn:hover {
    opacity: 0.6;
}

.sign-in-popup form label {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
}

.sign-in-popup form label input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffffa1;
    padding: 0 20px;
}

.sign-in-popup form label input:focus {
    background-color: #ffffff;
}

.sign-in-popup form input[type="submit"] {
    height: 60px;
    font-size: 30px;
    line-height: 40px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #00b9a4;
    margin-top: 40px;
    cursor: pointer;
}

.sign-in-popup form input[type="submit"]:hover {
    background-color: #00b9a3e3;
}

.sign-in-popup form input[type="submit"]:active {
    color: #ffffff80;
}