<div class="book-card">
    <a href="/product"><img class" src="/public/img/book.png" alt="Книга"></a>
    <div>
        <a href="/product"><p class="book-name">История моего безумия</p></a>
        <a href="/product"><p class="autor-name">Джек Лондон</p></a>
    </div>
    <a class="in-basket" href="/cart">
            <p class="price-in-card">657&#8381;</p>   
        В корзину
    </a>
    <button class="in-mark">
        <img src="/public/img/mark.png">
        В закладки
    </button>
    <div class="stroke"></div>
</div>

<link rel="stylesheet" href="/public/css/book-card.css">