<div class="footer">
    <div class="container">
        <div class="small-logo">
            <img src="/public/img/small-logo.png" alt="Маленькое лого" height="56">
        </div>
        <div class="find-us">
            <p>Ищите нас тут:</p>
            <img src="/public/img/inst-icon.png" alt="Инста" height="45">
            <img src="/public/img/teleg-icon.png" alt="Телега" height="45">
        </div>
    </div>
</div>

<link rel="stylesheet" href="/public/css/footer.css">