<div class="header">
    <div class = "container">
        <div class="header-logo">
            <a href="/"><img src="/public/img/logo.png" alt="Логотип" width="auto" height="90"></a>
        </div>
        <ul class="header-nav">
            <li>
                <a href="/catalog">Каталог</a>
                <div class="genres">
                    <h3>Жанры</h3>
                    <ul class="genres-list">
                        <% genres.forEach(function(genre){ %>
                            <li><a href="/catalog"><%= genre.genreName %></a></li>
                        <% }) %>
                    </ul>
                </div>
            </li>
            <li><a href="/liked">
                Избранное
                <% if(user != null) { %> 
                    <span class="amount"><%= user.liked.length %></span>
                <% } %>
            </a></li>
            <li><a href="/cart">
                Корзина
                <% if(user != null) { %> 
                    <span class="amount"><%= user.cart.length %></span>
                <% } %>
            </a></li>
        </ul>
        <div class = "search-container">
            <input type="text" class="search" placeholder="Поиск книг">
            <img src="/public/img/search.png" alt="icon">
        </div>
        <% if(user === null) { %>
            <button class="sign-in-btn">Войти</button>
        <% } else { %>
            <div class="user-data">
                <form method="post" action="/sign-out">
                    <button class="sign-out-btn">Выход</button>
                </form>
                <h1 class="section-header"><%= user.username %></h1>
            </div>
        <% } %>
        <div class="sign-in-popup hidden">
            <div class="dark-background"></div>
            <form method="post" name="signIn" action="/sign-in">
                <button class="close-btn" type="button">
                    <img src="/public/img/close-btn.png" alt="Закрыть" width="40">
                </button>
                <label>
                    E-Mail<br>
                    <input type="email" name="username" id="username" required />
                </label>
                <label>
                    Пароль<br>
                    <input type="password" name="password" id="password" required minlength="8"/>
                </label>
                <input type="submit" id="submit" value="Войти" />
                <a class="register" href="/register">Зарегестрироваться</a>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/public/css/header.css">
<script src="/public/script/header-sign-in.js"></script>