<div class="header">
    <div class = "container">
        <div class="header-logo">
            <a href="/"><img src="/public/img/logo.png" alt="Логотип" width="auto" height="90"></a>
        </div>
        <ul class="header-nav">
            <li>
                <a href="/products">Каталог</a>
                <div class="genres">
                    <h3>Жанры</h3>
                    <ul class="genres-list">
                    </ul>
                </div>
            </li>
            <li><a href="/liked">Избранное</a></li>
            <li><a href="/cart">Корзина</a></li>
        </ul>
        <div class = "search-container">
            <input type="text" class="search" placeholder="Поиск книг">
            <img src="/public/img/search.png" alt="icon">
        </div>
        <a href="/sign-in" class = "sign-in-btn">Войти</a>
    </div>
</div>
<link rel="stylesheet" href="/public/css/header.css">