<div class="like-card">
    <div class="like-content">
        <div class="picture">
            <a href="#">
                <img src="/public/img/martin-book.png" alt="Книга">
            </a>
        </div>
        <div class="text-content">
            <ul class="teg-list">
                <li class="teg-name">Классика</li>
            </ul>
            <p class="book-name">История моего безумия</p>
            <p class="autor-name">Джек Лондон</p>
            <ul class="genre-list">
                <li class="genre-name">Драма</li>
            </ul>
        </div>
    </div>
    <div class="button-menu">
        <div class="availability">
            <img src="/public/img/availability.png" alt="Галочки">
            <p>В наличии</p>
        </div>
        <a class="busket-delete" href="#">
            <img src="/public/img/busket-delete.png" alt="Мусорка">
        </a>
        <p class="like-price">657&#8381;</p>
        <button class="in-basket">В закладки</button>
    </div>
    <div class="stroke"></div>
</div>

<link rel="stylesheet" href="/public/css/like-card.css">