<div class="container">
    <div class="new-arrive">
        <div class="content">
            <h3>Новые поступления!</h3>
            <p>Новые книги в ассортименте!<br>
                Читайте: Тьерри Коэн <br>
                “История Моего безумия”, <br>
                Джек Лондон “Мартин Идэн”<br>
                и многое другое!
                <br>Новые книги в ассортименте!</p>
            <button class="details">
                Подробнее
            </button>
        </div>
        <div class="background">
            <img src="/public/img/banner-bg.png" alt="Баннер с прекрасным изображением">
            <div class="gradient"></div>
        </div>
        <a class="arrow-left" href="#"><img src="/public/img/arrow_left.png" alt="Стрелка влево"></a>
        <a class="arrow-right" href="#"><img src="/public/img/arrow_right.png" alt="Стрелка вправо"></a>
    </div>
</div>
<link rel="stylesheet" href="/public/css/new-arrive.css">  
