<div class="news">
    <div class="container">
        <h2>Новинки</h2>
    </div>
    <div class="container">
        <% for(let i = 0; i < 8; i++) { %>
            <%- include('../blocks/book-card.ejs', {datas: news[i]}) %>     
        <% } %>
    </div>
</div>
<link rel="stylesheet" href="/public/css/news.css">